.password-page {
  min-height: 100vh;
  background: linear-gradient(135deg, #f8fafc, #eef2f7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
}

.password-card {
  background: #ffffff;
  width: 380px;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 20px 45px rgba(0,0,0,0.1);
  border-top: 6px solid #fdc632; /* Ambience Yellow */
}

.password-card h1 {
  text-align: center;
  color: #002347;
  margin-bottom: 6px;
}

.subtitle {
  text-align: center;
  color: #64748b;
  font-size: 14px;
  margin-bottom: 25px;
}

/* INPUT */
.input-group {
  position: relative;
}

.input-group input {
  width: 100%;
  padding: 12px 45px 12px 15px;
  border-radius: 12px;
  border: 1px solid #cbd5f5;
  outline: none;
  font-size: 14px;
}

.toggle-btn {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  color: #002347;
}

.toggle-btn:hover {
  color: #fdc632;
}
